ifcopenshell~=0.8.3.post2
pandas~=2.3.3
langchain~=1.0.3
langgraph~=1.0.2
dotenv~=0.9.9
python-dotenv~=1.2.1
pydantic~=2.12.3
langchain-mcp-adapters>=0.1.0
langchain-openai
langchain-anthropic
langchain-google-genai
huggingface-hub
